/*Declarando tags e estilizando*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body /*Seletor body*/
{
    background-color: rgb(255, 248, 220); /*cor do fundo da página, em hexadecimal*/
    color: #8b4500;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

header
{
    padding: 0 auto;
    text-align: center;
    background-color: #eedfcc;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

h1
{
    font-family: "Poppins", sans-serif;
    color: #5a2e0c;
    font-weight: 600;
}

main
{
    padding: 1rem;
    display: flex; /*usando flexbox*/ 
    flex-direction: column; /*definindo a direção das caixas de texto*/
    gap: 1rem;
}

section
{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

h2
{
    font-family: "Poppins", sans-serif;
    color: #5a2e0c;
    font-weight: 600;
    padding: 2rem;
    margin-bottom: -1.5rem;
}

h3
{
    font-family: "Poppins", sans-serif;
    color: #5a2e0c;
    font-weight: 600;
    padding-left: 0.2rem;
    padding-top: 1.5rem;
}

input[type="text"], input[type="email"]
{
    background-color: #FDF5E6;
    width: 30rem;
    padding: 0.3rem;
    border: 1.5px solid #8b4500;
    border-radius: 10rem;
}

details
{
    cursor: pointer;
    color:#eedfcc;
}   

ul
{
    margin-left: 2rem;
}

summary::marker
{
    color: #5a2e0c;
}

details p
{
    color: #5a2e0c;
}

fieldset
{
    border: 2px solid #5a2e0c;
    border-radius: 2rem;
    padding: 2rem;
    margin-right: 50rem;
}

legend
{
    padding: 0 0.5rem; /*padding: vertical horizontal*/

}

textarea
{
    background-attachment: fixed;
    background-color: #FDF5E6;
    outline: none;
    border-radius: 1rem;
    border: 1.5px solid;
    width: 30rem;
    height: 10rem;
}

textarea::placeholder
{
    padding: 1rem;
}

button
{
    background-color: #eedfcc;
    border: 1.5px solid #5a2e0c;
    padding: 0.4rem;
    color: #5a2e0c;
    border-radius: 2px;
    cursor: pointer;
}

.paragrafo_footer
{
    padding: 0.5rem;
    text-align: center;
    background-color: #FDF5E6;
}

.paragrafo_footer a
{
    text-decoration: none;
    color: #5a2e0c;
}
